/* button */
.delete-bill-item-button {
  font-size: 1.2rem;
}

/* div */
.member-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  padding: 0.5rem 0;
  overflow-y: scroll;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}

.member-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.625rem;
}

.member-card-selected {
  color: black;
  font-weight: 700;
  background-color: white;
}

.bill-item-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
  margin-top: -1rem;
}

.bill-item-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4rem;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 1rem;
  transition: 300ms ease;
  cursor: pointer;
  text-align: left;
}

.bill-item-card:last-of-type {
  animation: scaleUp 300ms ease;
}

.bill-item-card p {
  flex: 1 1 0;
}

.bill-item-card p:last-of-type {
  text-align: right;
  padding-right: 0.625rem;
}

@keyframes scaleUp {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}