/* button */
.spinbox-button {
  width: auto;
  font-size: 20rem;
  padding: 0.5rem;
}

/* spinbox */
.spinbox-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  gap: 1rem;
}

.spinbox-container i {
  font-size: 2rem;
}

.spinbox-container .fix-icon-padding {
  margin: 0 -0.75rem 0 0;
}

.spinbox-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.spinbox-content-animate {
  animation: scaleUp 200ms ease-in;
}

@keyframes scaleUp {
  0% {
    scale: 0.4;
  }

  60% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

/* div */
.column-container {
  max-height: 58vh;
}

.member-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}