/* button */
.submit-create-group-button {
  width: 100%;
  font-size: 2rem;
}

/* spinbox */
.spinbox-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  gap: 1rem;
}

.spinbox-container i {
  font-size: 2rem;
}

.spinbox-container .fix-icon-padding {
  margin: 0 -0.5rem 0 -1rem;
}

/* failure */
input.failure-border {
  border-color: rgb(153, 0, 0);
  box-shadow: 0 0 10px rgba(from red r g b / 0.5);
}

/* div */
.column-container {
  max-height: 58vh;
}

.member-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0px;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}