* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Elms Sans', Arial;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(to top, #111111, #000000);
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  height: auto;
}

body::selection {
  background-color: #222222;
}


i {
  transition: 300ms ease;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 30px 30px 15px 15px;
  font-size: 1rem;
  padding: 0.2rem;
  transition: 300ms ease;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  letter-spacing: 0.8rem;
  gap: 0.6rem;
}

button:hover i {
  color: black;
}

.title-label {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem 0 0;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.body-text {
  font-size: 2.5rem;
}

.create-group-button {
  width: 100%;
  font-size: 2rem;
}

.divider-container {
  border: 2px solid white;
  border-radius: 20px;
  padding: 3px 0;
  margin: 1rem 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 2rem 2rem;
  gap: 1rem;
  max-height: 55vh;
  overflow: hidden;
}

.group-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0px;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}

.group-card {
  width: 100%;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4rem;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 1rem;
  transition: 300ms ease;
  cursor: pointer;
}

.group-card:hover {
  background-color: rgba(from white r g b / 0.05);
  font-weight: 600;
  transform: scaleY(1.1);
}