* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Elms Sans', Arial;
  transition: 300ms ease;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111111;
  background-image: linear-gradient(to top, #111111, #000000);
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  height: auto;
}

body::selection {
  background-color: #222222;
  background-color: rgba(from #ffffff r g b / 0.1);
}

* {
  -webkit-tap-highlight-color: transparent;
}

i {
  color: inherit;
}

a {
  text-decoration: none;
}

a span {
  border-bottom: 2px solid white;
}

/* text */
.title-label {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem 0 0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.body-title {
  font-size: 2.2rem;
}

.body-subtitle {
  font-size: 1.6rem;
}

/* button */
button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 30px 30px 15px 15px;
  font-size: 1.5rem;
  padding: 0.5rem 0.2rem;
  transition: 300ms ease, scale 150ms ease;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  letter-spacing: 0.8rem;
  gap: 0.6rem;
}

button:hover i {
  color: black;
}

button:active {
  scale: 1.1;
}

.plain-button {
  width: auto;
  border: none;
  padding: none;
}

.plain-button:hover {
  background-color: transparent;
  color: white;
  font-weight: normal;
  letter-spacing: normal;
}

/* input */
input[type='text'],
input[type='number'] {
  width: 100%;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem 1.25rem;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: none;
  background-color: rgba(from white r g b / 0.05);
}

/* failure */
input.failure-border {
  border-color: rgb(153, 0, 0);
  box-shadow: 0 0 10px rgba(from red r g b / 0.5);
}


/* div */
div {
  user-select: none;
}

.divider-container {
  border: 2px solid white;
  border-radius: 20px;
  padding: 3px 0;
  margin: 1rem 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 2rem;
  gap: 1rem;
  max-height: 55vh;
  overflow: hidden;
}

.button-container {
  display: flex;
  margin: 2rem;
}

footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

/* media queries */
@media screen and (min-width: 768px) {
  body {
    padding: 0 25rem;
  }
}