* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Elms Sans', Arial;
}

body {
  background-image: linear-gradient(to top, #111111, #000000);
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}

.title-label {
  font-size: 3.5rem;
  text-align: center;
  margin: 3rem 0px 1rem;
}

.divider-container {
  border: 2px solid white;
  border-radius: 20px;
  padding: 3px 0px;
  margin: 0px 2rem;
}