/* text */
.subtitle-italic {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  letter-spacing: 0.25rem;
  margin: 0.625rem auto 0;
  font-style: italic;
}

.subtitle-italic i {
  font-size: 1.2rem;
}

/* div */
.group-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}

.group-card {
  width: 100%;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4rem;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 1rem;
  transition: 300ms ease;
  cursor: pointer;
}

.group-card:hover {
  background-color: rgba(from white r g b / 0.05);
  font-weight: 600;
  transform: scaleY(1.1);
}