/* div */
.member-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
}

.member-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4rem;
  overflow-wrap: anywhere;
  padding: 1rem;
  transition: 300ms ease;
  cursor: pointer;
  text-align: left;
}

.member-card p {
  flex: 1 1 0
}

.member-card p:last-of-type {
  text-align: right;
}

.bill-item-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
  gap: 0.75rem;
  mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
  margin-top: -1rem;
}

.bill-item-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.4rem;
  overflow-wrap: anywhere;
  padding: 1rem;
  transition: 300ms ease;
  cursor: pointer;
  text-align: left;
}

.bill-item-card p {
  flex: 1 1 0;
}

.bill-item-card p:last-of-type {
  text-align: right;
}